apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}
spec:
  type: {{ .Values.service.type }}
  selector:
    app: {{ .Release.Name }}
  ports:
  - port: {{ .Values.service.port }}
    targetPort: 8080
    {{- if eq .Values.service.type "NodePort" }}
    nodePort: {{ .Values.service.nodePort }}
    {{- end }}
---
{{- if .Values.ollama.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: ollama
spec:
  selector:
    app: {{ .Release.Name }}-ollama
  ports:
  - port: 11434
    targetPort: 11434
{{- end }}
